// color

$dark-shade: rgba(31, 32, 65, 1)
$dark-shade-one-third: rgba(31, 32, 65, 0.75)
$dark-shade-half: rgba(31, 32, 65, 0.5)
$dark-shade-one-fourth: rgba(31, 32, 65, 0.25)
$dark-shade-five: rgba(31, 32, 65, 0.05)