.container
	header
		.logo LOGO
		nav
			ul
				li
					a(href='#') О Нас
				li
					a(href='#') Услуги
				li.sub-menu
					a(href='#') Вакансии
					ul
						li
							a(href='#') Link 1
						li
							a(href='#') Link 2
						li
							a(href='#') Link 3
				li
					a(href='#') Новости
				li.sub-menu
					a(href='#') Соглашение
					ul
						li
							a(href='#') Link 4
						li
							a(href='#') Link 5
						li
							a(href='#') Link 6
				li.navEnter
					a(href='#')
						span Войти
				li.navReg
					a(href='#')
						span Зарегестрироватся
		.menu-toggle
			i.fa.fa-bars
