header
    .containers
        .headerMain
            img.headerMain__img(src='imgs/logo.png', alt='Logo')
            nav
                ul
                    li О Нас
                    li Услуги
                    li Вакансии
                    li Новости
                    li Соглашение
            <button class="button">войти</button>
            <button class="button">зарегистрироваться</button>