header
    .containers
        .headerMain
            img.headerMain__img(src='imgs/logo.png', alt='Logo')
            nav
                include ../navigation/nav
            <div class="button_cont" align="center"><a class="example_b" href="add-website-here" target="_blank" rel="nofollow noopener">Войти</a></div>
            <button class="button">зарегистрироваться</button>