header
    .containers
        .headerMain
            img.headerMain__img(src='imgs/logo.png', alt='Logo')
            nav
                include ../navigation/nav
            <button class="button">войти</button>
            <button class="button">зарегистрироваться</button>